<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title> Choose the file to print : </title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://www.shareicon.net/download/2015/08/31/93670_paper.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      @import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin,latin-ext);
     
      body, button {
        font-family: lato;
      }

      .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-left : 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
  #closeBox{
    background-color : #17202A;
    color : white;
  }
    </style>
  
  </head>
  <body>
    <script>
      window.fbMessengerPlugins = window.fbMessengerPlugins || {
        init: function () {
          FB.init({
            appId            : '1678638095724206',
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v2.10'
          });
        }, callable: []
      };
      window.fbAsyncInit = window.fbAsyncInit || function () {
        window.fbMessengerPlugins.callable.forEach(function (item) { item(); });
        window.fbMessengerPlugins.init();
      };
      setTimeout(function () {
        (function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) { return; }
          js = d.createElement(s);
          js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      }, 0);

      function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}
      // Give the parameter a variable name
      var dynamicContent = getParameterByName('bot_id');
      </script>    
    <script>
      // Code copied from Facebook to load and initialise Messenger extensions
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'Messenger'));
    </script>
    
      <h3>
        Cliquez sur <em> parcourir </em> pour uploader !!!
      </h2>

        <input require accept="application/pdf" class="inputfile" name="files[]" id="inputFile" type="file"> <br/> <br/>
        <button id="continuer" style="padding-left: 80px; padding-right: 80px" class="button"> Continuer </button>
    
    <!--  <b id="bot_id"> USER ID : <%= bot_id %> </b>-->
     <br/> <b id="error"> </b>
      
      <div id="message">
        <b> Fichier telecharg&eacute;e avec succes / File successfully uploaded </b>
        <button id="closeBox" style="padding-left : 80px; padding-right: 80px" class="button"> Continuer / Proceed </button>
      </div>
      
      <b id="message"></b>
    

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    
    <script>
       // window.extAsyncInit = function() {
      $(document).ready(function(){
        $('#message').hide()

      
        console.log('Messenger extensions are ready');
        
        $('#continuer').click(function(event){
          event.preventDefault();
          
          input = document.getElementById('inputFile').files 
          if(input.length > 0){
            //Verify if the size is less than 250MB
            if(input[0].size > 262144000){
              $('#error').html('La taille du fichier ne doit pas exc&eacute;der 250 MB / The size must not exceed 250 MB')
            }else{

              //Let's continue here
              var reader = new FileReader()
              var apiBaseUrl = "https://9j8qx1wsl0.execute-api.us-east-1.amazonaws.com/dev/"
              var urlPrefix = "https://s3.us-east-2.amazonaws.com/everyprint-printer-files/"
              var nameUrl = ""

              reader.addEventListener('loadend',function(e){

                fetch(apiBaseUrl+"api/signedUrl",{
                  method : "POST",
                  headers: {
                    "Content-Type" : "application/json"
                  },
                  body : JSON.stringify({
                    type : input[0].type
                  })
                }).then(response => {
  
                  return response.json()

                }).then(json => {
                  
                  nameUrl = json.name
                  return fetch(json.uploadURL,{
                    "method" : "PUT",
                    "body" : new Blob([reader.result],{type:input[0].type}),
                    "headers" : {
                      "Content-Type" : input[0].type,
                      "x-amz-acl" : "public-read"
                    }
                  })
                }).then(function(){
                  //Finish the transaction
                  //test purpose 

                  dynamicContent = "1965829820097941"
                  var params = {
                    "id" : dynamicContent,
                    "url" : urlPrefix+nameUrl 
                  }

                  fetch(apiBaseUrl+"uploadNextBlock?id="+dynamicContent+"&url="+urlPrefix+nameUrl,{
                    method : "POST",
                    headers : {
                      "Content-Type" : "application/json"
                    },
                    body : JSON.stringify(params),
                    mode : "no-cors"
                   
                  }).then(res => {
                    console.log("Ok, well done")
                      $('#message').show()
                    /*  MessengerExtensions.requestCloseBrowser(function success() {
                      
                      }, function error(err) {
                        // an error occurred
                      });
                  */
                   })
                }).catch(err =>{
                  console.log(err)
                })

              })

              reader.readAsArrayBuffer(input[0])

            } 
          }else{
            $('#error').html('Bien vouloir uploader un document / Please upload a document')
          }
     

        })
      });
     // }

    
      
         /* $.ajax({
            url : "https://qav5het0s2.execute-api.us-east-1.amazonaws.com/dev/api/signedUrl",
            type : "GET",
            crossDomain : true,
            cache : false
          }).done(function(signedUrl){
            $.ajax({
              url : signedUrl,
              type : "PUT",
              crossDomain : true,
              data : $('#file').files[0],
              cache : false,
              processData : false 
            }).done(function(){
              console.info('YEAH '+signedUrl.split('?')[0].substr(6))
            }).fail(function(){
              console.error('DAMN')
            })
          })
        })
        */
        // Handle button click
      /*  $('#preferencesForm').submit(function(event) {
          console.log('Submit pressed');
          
          event.preventDefault();
          
          const formData = $('#preferencesForm').serialize();
          
          $.post('https://qav5het0s2.execute-api.us-east-1.amazonaws.com/dev/api/upload?messenger_id='+dynamicContent, formData, function (data) {
            MessengerExtensions.requestCloseBrowser(function () {
              console.log('Window will be closed');
            }, function (error) {
              console.log('There is an error');
              console.log(error);
            });
          });
        });*/
        
      
      /*
      $('#preferencesForm').submit(function(event){
          event.preventDefault();
          console.log("Changing mode .....")
          
          $.ajax({
            url : "https://qav5het0s2.execute-api.us-east-1.amazonaws.com/dev/api/signedUrl",
            type : "GET",
            dataType : "jsonp",
            crossDomain : true,
            cache : false,
            success : function(res) {
              console.log("well done ...."+res)
             /* $.ajax({
              url : signedUrl,
              dataType : "jsonp",
              type : "PUT",
              crossDomain : true,
              data : $('#file').files[0],
              cache : false,
              processData : false,
              success : function(){
                console.log("Sent done")
                console.log('YEAH '+res.split('?')[0].substr(6))

              }
            })
          },
          error :  function (xhr, ajaxOptions, thrownError) {
            console.log("Error : "+thrownError)
          }
        
        })
      })
      */

   
    </script>    
      
      <div
        class="fb-customerchat"
        page_id="1920147214903175"
        ref="WebinarRegistration">
      </div>
    

  </body>
</html>
